<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:if="${usuario == null}">
        <div th:replace="fragmentos/header :: header_nologged"></div>
    </div>

    <div th:if="${usuario != null and usuario.rol.name() == 'USER'}">
        <div th:replace="fragmentos/header :: header_user(${usuario.nombre})"></div>
    </div>

    <div th:if="${usuario != null and usuario.rol.name() == 'ADMIN'}">
        <div th:replace="fragmentos/header :: header_admin(${usuario.nombre})"></div>
    </div>

<h1>Contenido principal</h1>
    holaa
</body>
</html>
