<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiricasa</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Cabin+Rounded&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/elementos/sinfondo.ico" type="image/x-icon">


    <!-- Carga condicional de estilos -->
    <th:block th:if="${usuario == null}">
        <link rel="stylesheet" th:href="@{/css/headers/estilosHeaderNoLogged.css}">
    </th:block>
    <th:block th:if="${usuario != null and usuario.rol.name() == 'USER'}">
        <link rel="stylesheet" th:href="@{/css/headers/estilosHeaderLogged.css}">
    </th:block>
    <th:block th:if="${usuario != null and usuario.rol.name() == 'ADMIN'}">
        <link rel="stylesheet" th:href="@{/css/headers/estilosAdmin.css}">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/estilosHome.css}">
    <link rel="stylesheet" th:href="@{/css/footer/estilosFooter.css}">

</head>
<body>

    <!-- Header según usuario -->
    <div th:if="${usuario == null}">
        <div th:replace="fragmentos/header :: header_nologged"></div>
    </div>
    <div th:if="${usuario != null and usuario.rol.name() == 'USER'}">
        <div th:replace="fragmentos/header :: header_user(${usuario.nombre})"></div>
    </div>
    <div th:if="${usuario != null and usuario.rol.name() == 'ADMIN'}">
        <div th:replace="fragmentos/header :: header_admin(${usuario.nombre})"></div>
    </div>

<br><br><br><br><br><br><br><br><br><br><br><br>
hola
    <div th:replace="fragmentos/footer :: footer"></div>



</body>
</html>
